{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <section class="col-lg-6 text-center">

      <h3 class="mt-5">Databox pulls all your data into one place, so you can track performance and discover insights in real-time.</h3>

      <article class="my-5">
        <p>1. Signup</p>
        <p>2. Login</p>
        <p>3. Connect your Data</p>
        <p>4. Enjoy Databox experience</p>
      </article>

    </section>
  </div>
</div>

{% endblock content %}
