{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <section class="col-lg-4 text-center">

      <h1 class="mt-5 mb-4"><strong>{{ user.username }}'s</strong> Dashboard</h1>

      <article class="mb-5">
        <p>Your connected APIs:</p>
        <div>
          Google Analytics
          {% if not google_authorized %}
            <a href="{% url 'authorize_google' %}">Connect</a>
          {% else %}
            <strong>Connected</strong>
            <a href="{% url 'disconnect_google' %}">Disconnect</a>
          {% endif %}
        </div>
        <div>
          GitHub
          {% if not github_authorized %}
            <a href="{% url 'authorize_github' %}">Connect</a>
          {% else %}
            <strong>Connected</strong>
            <a href="{% url 'disconnect_github' %}">Disconnect</a>
            <div>
              {% if github_repos %}
                <p class="mt-3 mb-0">Your activated Github repositories:</p>
                {% for repo in github_repos %}
                  <p class="mb-1"><strong>{{ repo.name }}</strong></p>
                  <span><a href="{% url 'deactivate_github_repository' repo.id %}">Deactivate</a></span>
                {% endfor %}
                <div class="mt-3">
                  <a href="{% url 'activate_another_github_repository' %}">
                    Activate Github repository
                  </a>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </article>

    </section>
  </div>
</div>

{% endblock content %}
